<!doctype html>
<title>f5 stats virtual list</title>

{% for key, value in devicehost_virtuallist_dict.iteritems() %}
<table border=1>

   <h4> Device Host : 
   {% for name in deviceip_devicehostname_dict[key] %}
   {{ name }} ({{ key }})
   <a href="http://{{ RUN_HOST }}:{{ RUN_PORT }}/dashboard/f5/stats/virtual/top/bps/{{ name }}/">TOP_BPS</a>
   <a href="http://{{ RUN_HOST }}:{{ RUN_PORT }}/dashboard/f5/stats/virtual/top/pps/{{ name }}/">TOP_PPS</a>
   <a href="http://{{ RUN_HOST }}:{{ RUN_PORT }}/dashboard/f5/stats/virtual/top/cps/{{ name }}/">TOP_CPS</a>
   <a href="http://{{ RUN_HOST }}:{{ RUN_PORT }}/dashboard/f5/stats/virtual/top/session/{{ name }}/">TOP_SESSION</a>
   {% endfor %}
   </h4>

   <tr>
   <th>virtual server name</th>
   <th>stats name</th>
   </tr>
   
   {% for item in value %}
   {% if (item!="route_tcp") %}
   {% if (item!="route_udp") %}
   {% if (item!="route_icmp") %}
   <tr>
   <td><font size='2'> {{ item }}</font></td>
   <td>
       {% for name in deviceip_devicehostname_dict[key] %}
       <font size='2'><a href="http://{{ RUN_HOST }}:{{ RUN_PORT }}/dashboard/f5/stats/virtual/{{ item }}@{{ name }}/">{{ item }}@{{ name }}</a></font><br>
       {% endfor %}
   </td>
   </tr>
   {% endif %}
   {% endif %}
   {% endif %}
   {% endfor %}
</table>
{% endfor%}
